<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head', {title: 'Nahif Form Productos' })%>

    <body>
        <%- include ('./partials/header') %>
            <main class="mainAltaProd">
                <form action="/products/altaProducto/create" method="post" class="altaProducto" enctype="multipart/form-data">
                    <h2>ALTA DE PRODUCTO</h2>
                    <div class="formAltaProd">

                        <input type="text" name="nombreProdAlta" placeholder="Nombre del producto"  value="<%= locals.oldData ? oldData.nombreProdAlta : null %>">
                        <% if (locals.errors && errors.nombreProdAlta) { %>
                            <p class="mensajeError"><%=errors.nombreProdAlta.msg  %></p>
                            <% } %>
                        <textarea name="descProdAlta" id="" cols="25" rows="5"  value="<%= locals.oldData ? oldData.descProdAlta : null %>">Descripción del producto</textarea>
                        <% if (locals.errors && errors.descProdAlta) { %>
                            <p class="mensajeError"><%=errors.descProdAlta.msg  %></p>
                            <% } %>
                            <div class="nuevaFotoProd">
                                <label for="fotoProdPpal">Foto principal</label>
                                <input type="file" name="fotoProdPpal" accept=".jpg, .png, .jpeg, .gif" id="fotoProdPpal">
                            </div>
                            <div class="nuevaFotoProd">
                                <label for="fotoProdAlta">Agregar fotos</label>
                                <input type="file" name="fotoProdAlta" accept=".jpg, .png, .jpeg, .gif" id="fotoProdAlta" multiple>
                            </div>
                        <div class="categoriasAlta">
                            <label for="categoriaProdAlta">Categoría del producto</label>
                            <select name="categoriaProdAlta" id="categoriaProdAlta">
                                <% for (let i=0; i<listCategorias.length;i++){ %>
                                <option value="<%= listCategorias[i].id %>"><%= listCategorias[i].nombre %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="colProdAlta">
                            <p>Colores disponibles</p>
                            <% for(let i=0;i < listColores.length; i++) { %>
                            <div>
                                <input type="checkbox" name="coloresProdAlta" value="<%= listColores[i].id %>" id="<%= listColores[i].id %>">
                                <label for="<%= listColores[i].id %>"><%= listColores[i].nombre %></label>
                            </div>
                            <% } %>
                        </div>
                        <div class="tallesProdAlta">
                            <p>Talle</p>
                            <select name="talleProdAlta" id="talleProdAlta">
                                <% for (let i=0; i<listTalles.length;i++){ %>
                                <option value="<%= listTalles[i].id %>"><%= listTalles[i].nombre %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="cantTalleAltaProd">
                            <p>Stock</p>
                            <div>
                                <label for="stock">Cant</label>
                                <input type="number" name="stock" id="stock" value="0">
                            </div>
                        </div>
                        <div class="precioProdAlta">
                            <label for="precioProdAlta">Precio: $</label>
                            <input type="number" name="precioProdAlta" id="precioProdAlta" value="0">
                        </div>
                        <div class="antesProdAlta">
                            <label for="descuentoProdAlta">Descuento: %</label>
                            <input type="number" name="descuentoProdAlta" id="descuentoProdAlta" value="0">
                        </div>
                        <div class="botonesAlta">
                            <button type="submit" class="ingresar">INGRESAR</button>
                            <button type="reset" class="borrar">BORRAR</button>
                        </div>
                    </div>
                </form>
            </main>
            <%- include ('./partials/footer') %>
    </body>

</html>