<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: "Nahif Login"})%>


<body>

<%- include("./partials/header") %>

    <main class="miCategorias">
        <h2>Productos Disponibles</h2>
            <div class="miCatergoria2">
                
           
                <div class="lista-categoria">
                    <% for (i=0; i<listCategorias.length; i++){ %>
                        <a href="#" class="items-categoria"><%= listCategorias[i] %></a>
                    <% } %>
                </div>
                <section class="lista-productos">
                    <% categoriaProd.forEach(productos => {%>
                        
                 
                    <Article>

                        <a href="/product/<%=productos.id%>"><img src = "img/<%=productos.fotos[0]%>" alt="<%=productos.nombre%>"></a>
                
                        <h3 class="desc-prod"><%=productos.nombre%></h3>
                        <p class="precio">precio: $ <%=productos.precio%></p>
                        <p class="descuento">ahorra: $ <%=productos.descuento%></p>
                    </Article>
                    <%}); %>

                    
                </section>
            </div>
    </main>
    <%- include('./partials/footer')%>

</body>
</html>