<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head', {title:'Nahif modif Productos'})%>

    <body>
        <%- include ('./partials/header') %>
            <main class="mainAltaProd">
                <form action="/" method="get" class="altaProducto">
                    <h2>MODIFICACIÓN DE PRODUCTO</h2>
                    <div class="formAltaProd">

                        <input type="text" name="nombreProdAlta" placeholder="Nombre del producto"
                            value="<%= detalle.nombre %>">
                        <textarea name="descProdAlta" id="" cols="30" rows="7"><%= detalle.detalle %></textarea>
                        <form action="/" method="get">
                            <div class="listaFotosMod">
                                <label for="fotoProdAlta">Fotos del producto</label>
                                <% for (let i=0; (i < detalle.fotos.length) ; i++) { %>
                                    <img class="fotoMod" src="/img/<%= detalle.fotos[i] %>" alt="foto <%= i%>">
                                    <% } %>
                            </div>
                            <form action="/" method="get">
                                <div class="nuevaFotoProd">
                                    <label for="fotoProdAlta">Agregar fotos nuevas</label>
                                    <input type="file" name="fotoProdAlta" accept=".jpg, .png" id="fotoProdAlta"
                                        multiple>
                                    <button type="submit" class="ingresar">Agregar</button>
                                </div>
                            </form>

                        </form>
                        <div class="categoriasAlta">
                            <label for="categoriaProdAlta">Categoría del producto</label>
                            <select name="categoriaProdAlta" id="categoriaProdAlta">
                                <% for (i=0; i<listCategorias.length; i++){ %>
                                    <% if (listCategorias[i]==detalle.categoria) {%>
                                        <option name="categoria" value="<%= detalle.categoria %>" selected><%= detalle.categoria %></option> "
                                    <% } else { %>
                                        <option name="categorias" value="<%= listCategorias[i] %>"><%= listCategorias[i] %></option>   
                                <% }} %>
                            </select>
                        </div>
                        <div class="colProdAlta">
                            <p>Colores disponibles</p>
                            <div>
                                <% let colorNegro=detalle.colores.find(element=> element == 'Negro')%>
                                    <%if (colorNegro) {%>
                                        <input type="checkbox" name="coloresProdAlta" value="negro" id="negro" checked>
                                        <%}else {%>
                                            <input type="checkbox" name="coloresProdAlta" value="negro" id="negro">
                                            <% }%>
                                                <label for="negro">Negro</label>
                            </div>
                            <div>
                                <% let colorBlanco=detalle.colores.find(element=> element == 'Blanco')%>
                                    <%if (colorBlanco) {%>
                                        <input type="checkbox" name="coloresProdAlta" value="blanco" id="blanco"
                                            checked>
                                        <%}else {%>
                                            <input type="checkbox" name="coloresProdAlta" value="blanco" id="blanco">
                                            <% }%>
                                                <label for="blanco">Blanco</label>
                            </div>
                            <div>
                                <% let colorAzul=detalle.colores.find(element=> element == 'Azul')%>
                                    <%if (colorAzul) {%>
                                        <input type="checkbox" name="coloresProdAlta" value="azul" id="azul" checked>
                                        <%}else {%>
                                            <input type="checkbox" name="coloresProdAlta" value="azul" id="azul">
                                            <% }%>
                                                <label for="azul">Azul</label>
                            </div>
                            <div>
                                <% let colorRosa=detalle.colores.find(element=> element == 'Rosa')%>
                                    <%if (colorRosa) {%>
                                        <input type="checkbox" name="coloresProdAlta" value="rosa" id="rosa" checked>
                                        <%}else {%>
                                            <input type="checkbox" name="coloresProdAlta" value="rosa" id="rosa">
                                            <% }%>
                                                <label for="rosa">Rosa</label>
                            </div>
                            <div>
                                <% let colorCrema=detalle.colores.find(element=> element == 'Crema')%>
                                    <%if (colorCrema) {%>
                                        <input type="checkbox" name="coloresProdAlta" value="crema" id="crema" checked>
                                        <%}else {%>
                                            <input type="checkbox" name="coloresProdAlta" value="crema" id="crema">
                                            <% }%>
                                                <label for="crema">Crema</label>
                            </div>
                            <div>
                                <% let colorVerde=detalle.colores.find(element=> element == 'Verde')%>
                                    <%if (colorVerde) {%>
                                        <input type="checkbox" name="coloresProdAlta" value="verde" id="verde" checked>
                                        <%}else {%>
                                            <input type="checkbox" name="coloresProdAlta" value="verde" id="verde">
                                            <% }%>
                                                <label for="verde">Verde</label>
                            </div>
                        </div>
                        <div class="tallesProdAlta">
                            <p>Talles disponibles</p>
                            <% let talleTU=detalle.talles.find(element=> element == 'Talle único')%>
                                <%if (talleTU) {%>
                                    <input type="checkbox" name="talleProdAlta" value="talleUnico" id="talleUnico"
                                        checked>
                                <%}else {%>
                                    <input type="checkbox" name="talleProdAlta" value="talleUnico" id="talleUnico">
                                <% }%>
                            <label for="talleUnico">Talle único</label>
                            <% let talleTS=detalle.talles.find(element=> element == 'S')%>
                            <%if (talleTS) {%>
                                <input type="checkbox" name="talleProdAlta" value="small" id="small" checked>
                            <%}else {%>
                                <input type="checkbox" name="talleProdAlta" value="small" id="small">
                            <% }%>
                            <label for="small">S</label>
                            <% let talleTM=detalle.talles.find(element=> element =='M')%>
                            <%if (talleTM) {%>
                                <input type="checkbox" name="talleProdAlta" value="medium" id="medium" checked>
                            <%}else {%>
                                <input type="checkbox" name="talleProdAlta" value="medium" id="medium">
                            <% }%>
                            <label for="medium">M</label>
                            <% let talleTL=detalle.talles.find(element=>element == 'L')%>
                            <%if (talleTL) {%>
                                <input type="checkbox" name="talleProdAlta" value="large" id="large" checked>
                            <%}else {%>
                                <input type="checkbox" name="talleProdAlta" value="medium" id="medium">
                            <% }%>
                            <label for="large">L</label>
                        </div>
                        <div class="cantTalleAltaProd">
                            <p>Cantidades por talle</p>
                            <div>
                                <label for="tU">Talle único</label>
                                <input type="number" name="tU" id="tU" value="<%= detalle.tU %>">
                            </div>
                            <div>
                                <label for="tS">S</label>
                                <input type="number" name="tS" id="tS" value="<%= detalle.tS %>">
                            </div>
                            <div>
                                <label for="tM">M</label>
                                <input type="number" name="tM" id="tM" value="<%= detalle.tM %>">
                            </div>
                            <div>
                                <label for="tL">L</label>
                                <input type="number" name="tL" id="tL" value="<%= detalle.tL %>">
                            </div>
                        </div>
                        <div class="precioProdAlta">
                            <label for="precioProdAlta">Precio: $</label>
                            <input type="number" name="precioProdAlta" id="precioProdAlta"
                                value="<%= detalle.precio %>">
                        </div>
                        <div class="botonesAlta">
                            <button type="submit" class="ingresar">MODIFICAR</button>
                            <button type="reset" class="borrar">RESETEAR</button>
                            <button type="button" class="borrar">ELIMINAR PRODUCTO</button>
                        </div>
                    </div>
                </form>
            </main>
            <%- include ('./partials/footer') %>
    </body>

</html>