<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head', {title:'Nahif modif Productos'})%>

    <body>
        <%- include ('./partials/header') %>
            <main class="mainAltaProd">
                <form action="/modificarProd/<%= detalle.id %>?_method=PATCH" method="post" class="altaProducto">
                    <h2>MODIFICACIÓN DE PRODUCTO</h2>
                    <div class="formAltaProd">

                        <input type="text" name="nombreProdAlta" placeholder="Nombre del producto"
                            value="<%= detalle.nombre %>">
                        <textarea name="descProdAlta" id="" cols="30" rows="7"><%= detalle.detalle %></textarea>
                            <div class="listaFotosMod">
                                <label for="fotoProdAlta">Fotos del producto</label>
                                <img class="fotoMod" src="/img/<%= detalle.fotoPpal %>" alt="fotoPpal">
                                <% for (let i=0; (i < detalle.fotos.length) ; i++) { %> 
                                    <img class="fotoMod" src="/img/<%= detalle.fotos[i] %>" alt="foto <%= i%>">
                                    <% } %>
                            </div>
                            <div class="nuevaFotoProd">
                                <label for="fotoProdPpal">Cambiar foto principal</label>
                                <input type="file" name="fotoProdPpal" accept=".jpg, .png" id="fotoProdPpal">
                            </div>
                                <div class="nuevaFotoProd">
                                    <label for="fotoProdAlta">Agregar fotos nuevas</label>
                                    <input type="file" name="fotoProdAlta" accept=".jpg, .png" id="fotoProdAlta"
                                        multiple>
                                </div>
                        <div class="categoriasAlta">
                            <label for="categoriaProdAlta">Categoría del producto</label>
                            <select name="categoriaProdAlta" id="categoriaProdAlta">
                                <% for (i=0; i<listCategorias.length; i++){ %>
                                    <% if (listCategorias[i]==detalle.categoria) {%>
                                        <option name="categoria" value="<%= detalle.categoria %>" selected><%= detalle.categoria %></option> "
                                    <% } else { %>
                                        <option name="categorias" value="<%= listCategorias[i] %>"><%= listCategorias[i] %></option>   
                                <% }} %>
                            </select>
                        </div>
                        <div class="colProdAlta">
                            <p>Colores disponibles</p>
                            <% for (let i=0; i< listColores.length;i++) { %>
                                <div>
                                    <% let colorActual = detalle.colores.find(element=> element == listColores[i])%>
                                    <%if (colorActual) {%>
                                        <input type="checkbox" name="coloresProdAlta" value="<%= listColores[i] %>" id="<%= listColores[i] %>" checked>
                                        <%}else {%>
                                            <input type="checkbox" name="coloresProdAlta" value="<%= listColores[i] %>" id="<%= listColores[i] %>">
                                            <% }%>
                                                <label for="<%= listColores[i] %>"><%= listColores[i] %></label>
                                </div>
                            <% } %>
                            
                        </div>
                        <div class="tallesProdAlta">
                            <p>Talles disponibles</p>
                            <% let talleTU=detalle.talles.find(element=> element == 'Talle único')%>
                                <%if (talleTU) {%>
                                    <input type="checkbox" name="talleProdAlta" value="Talle único" id="talleUnico"
                                        checked>
                                <%}else {%>
                                    <input type="checkbox" name="talleProdAlta" value="Talle único" id="talleUnico">
                                <% }%>
                            <label for="talleUnico">Talle único</label>
                            <% let talleTS=detalle.talles.find(element=> element == 'S')%>
                            <%if (talleTS) {%>
                                <input type="checkbox" name="talleProdAlta" value="S" id="small" checked>
                            <%}else {%>
                                <input type="checkbox" name="talleProdAlta" value="S" id="small">
                            <% }%>
                            <label for="small">S</label>
                            <% let talleTM=detalle.talles.find(element=> element =='M')%>
                            <%if (talleTM) {%>
                                <input type="checkbox" name="talleProdAlta" value="M" id="medium" checked>
                            <%}else {%>
                                <input type="checkbox" name="talleProdAlta" value="M" id="medium">
                            <% }%>
                            <label for="medium">M</label>
                            <% let talleTL=detalle.talles.find(element=>element == 'L')%>
                            <%if (talleTL) {%>
                                <input type="checkbox" name="talleProdAlta" value="L" id="large" checked>
                            <%}else {%>
                                <input type="checkbox" name="talleProdAlta" value="L" id="large">
                            <% }%>
                            <label for="large">L</label>
                        </div>
                        <div class="cantTalleAltaProd">
                            <p>Cantidades por talle</p>
                            <div>
                                <label for="tU">Talle único</label>
                                <input type="number" name="tU" id="tU" value="<%= detalle.tU %>">
                            </div>
                            <div>
                                <label for="tS">S</label>
                                <input type="number" name="tS" id="tS" value="<%= detalle.tS %>">
                            </div>
                            <div>
                                <label for="tM">M</label>
                                <input type="number" name="tM" id="tM" value="<%= detalle.tM %>">
                            </div>
                            <div>
                                <label for="tL">L</label>
                                <input type="number" name="tL" id="tL" value="<%= detalle.tL %>">
                            </div>
                        </div>
                        <div class="precioProdAlta">
                            <label for="precioProdAlta">Precio: $</label>
                            <input type="number" name="precioProdAlta" id="precioProdAlta"
                                value="<%= detalle.precio %>">
                        </div>
                        <div class="botonesAlta">
                            <button type="submit" class="ingresar">MODIFICAR</button>
                            <button type="reset" class="borrar">RESETEAR</button>
                            <button type="button" class="borrar">ELIMINAR PRODUCTO</button>
                        </div>
                    </div>
                </form>
            </main>
            <%- include ('./partials/footer') %>
    </body>

</html>