<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head', {title:'Nahif modif Productos'})%>

    <body>
        <%- include ('./partials/header') %>
            <main class="mainModProd">
                <form class="eliminarFotos" action="/products/eliminarFoto/<%= detalle.id %>?_method=patch" method="post">
                    <div class="listaFotosMod">
                    <label class="fotoProdMod" for="fotoProdMod">Fotos del producto</label>
                    
                        <% if (detalle.fotoPpal != ""){ %>
                            <label for="">Foto principal</label>
                            <div class="check checkPpal">
                                <img class="fotoMod fotoPpal" src="/img/<%= detalle.fotoPpal %>" alt="fotoPpal">
                                <input type="checkbox" name="delPpal" class="eliminarFoto" value="<%= detalle.fotoPpal %>" id="delPpal">
                            </div>
                        <% } %>
                        <% for (let i=0; (i < detalle.fotos.length) ; i++) { %> 
                            <% if (detalle.fotos[i] != ""){ %>
                            <div class="check checkOtras">
                                    <img class="fotoMod" src="/img/<%= detalle.fotos[i] %>" alt="foto <%= i%>">
                                    <input type="checkbox" name="delFoto" class="eliminarFoto" value="<%= detalle.fotos[i] %>" id="delFoto">
                            </div> 
                        <% }} %>
                        <button type="submit" class="borrar">ELIMINAR FOTOS SELECCIONADAS  <i class="fa-solid fa-trash-can"></i></button>
                    </div>
                </form>               
                <form action="/products/modificarProd/<%= detalle.id %>?_method=patch" method="post" class="modProducto" enctype="multipart/form-data">
                    <h2>MODIFICACIÓN DE PRODUCTO</h2>
                    <div class="formModifProd">

                        <input type="text" name="nombreProdAlta" placeholder="Nombre del producto"
                            value="<%= detalle.nombre %>" class="descModif">
                        <textarea name="descProdAlta" class="descModif" id="" cols="30" rows="7"><%= detalle.detalle %></textarea>
                            
                            <div class="nuevaFotoProd divFotos">
                                <label for="fotoProdPpal ">Cambiar foto principal</label>
                                <input type="file" name="fotoProdPpal" accept=".jpg, .png" id="fotoProdPpal">
                             </div>
                           <div class="nuevaFotoProd divFotos">
                                    <label for="fotoProdAlta">Agregar fotos nuevas</label>
                                    <input type="file" name="fotoProdAlta" accept=".jpg, .png" id="fotoProdAlta"
                                        multiple>
                            </div> 
                        <div class="categoriasAlta">
                            <label for="categoriaProdAlta">Categoría del producto</label>
                            <select name="categoriaProdAlta" id="categoriaProdAlta">
                                <% for (i=0; i<listCategorias.length; i++){ %>
                                    <% if (listCategorias[i]==detalle.categoria) {%>
                                        <option name="categoria" value="<%= detalle.categoria %>" selected><%= detalle.categoria %></option> "
                                    <% } else { %>
                                        <option name="categoria" value="<%= listCategorias[i] %>"><%= listCategorias[i] %></option>   
                                <% }} %>
                            </select>
                        </div>
                        <div class="colProdAlta">
                            <p>Colores disponibles</p>
                            <% for(let i=0;i < listColores.length; i++) { %>
                            <div>
                                <% console.log(detalle.colores)
                                 console.log(listColores[i]) %>
                                <input type="checkbox" name="coloresProdAlta" <%= detalle.colores.includes(listColores[i]) == true ? 'checked' : ""%> value="<%= listColores[i] %>" id="<%= listColores[i] %>">
                                <label for="<%= listColores[i] %>"><%= listColores[i] %></label>
                            </div>
                            <% } %>
                        </div>
                        <div class="tallesProdAlta">
                            <p>Talles disponibles</p>

                            <input <%= detalle.talles.includes('Talle único') == true ? 'checked' : ""%> type="checkbox" name="talleProdAlta" value="Talle único" id="talleUnico">
                            <label for="talleUnico">Talle único</label>

                            <input <%= detalle.talles.includes('S') == true ? 'checked' : ""%> type="checkbox" name="talleProdAlta" value="S" id="small">
                            <label for="small">S</label>
                            
                            <input <%= detalle.talles.includes('M') == true ? 'checked' : ""%> type="checkbox" name="talleProdAlta" value="M" id="medium">        
                            <label for="medium">M</label>
                
                            <input <%= detalle.talles.includes('L') == true ? 'checked' : ""%>type="checkbox" name="talleProdAlta" value="L" id="large" >
                            <label for="large">L</label>
                        </div>
                        <div class="cantTalleAltaProd">
                            <p>Cantidades por talle</p>
                            <div>
                                <label for="tU">Talle único</label>
                                <input type="number" name="tU" id="tU" value="<%= detalle.tU %>">
                            </div>
                            <div>
                                <label for="tS">S</label>
                                <input type="number" name="tS" id="tS" value="<%= detalle.tS %>">
                            </div>
                            <div>
                                <label for="tM">M</label>
                                <input type="number" name="tM" id="tM" value="<%= detalle.tM %>">
                            </div>
                            <div>
                                <label for="tL">L</label>
                                <input type="number" name="tL" id="tL" value="<%= detalle.tL %>">
                            </div>
                        </div>
                        <div class="precioProdAlta">
                            <label for="precioProdAlta">Precio: $</label>
                            <input type="number" name="precioProdAlta" id="precioProdAlta"
                                value="<%= detalle.precio %>">
                        </div>
                        <div class="antesProdAlta">
                            <label for="antesProdAlta">Antes: $</label>
                            <input type="number" name="antesProdAlta" id="antesProdAlta" value="<%= detalle.descuento %>">
                        </div>
                        <div class="botonesModif">
                            <button type="submit" class="ingresar borrar">GUARDAR</button>
                            <button type="reset" class="borrar">RESETEAR</button>
                            <a href="/products/admin" class="botonModifProd">VOLVER AL LISTADO</a>
                        </div>
                    </div>
                </form>
        </main>
            <%- include ('./partials/footer') %>
    </body>

</html>