<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: "Nahif Register"})%>

<body>
    <%- include('./partials/header') %>
    <main id="main-registro">

        <div class="form-registro">

            <form class="formularioUser" action="/user/register" method="post" enctype="multipart/form-data">

                <h2 class="subtitulo-crear-cuenta">CREAR CUENTA</h2>
                <section id="errores">
                    <ul>

                    </ul>
                </section>
                <div class="nombre-registro">
                    <label class="label-registro" for="nombre">Nombre</label>
                    <input class="input-registro" type="text" name="nombre" id="nombre" value="<%= locals.oldData ? oldData.nombre : null %>">
                </div>
                <% if (locals.errors && errors.nombre) { %>
                    <p class="mensajeError"><%=errors.nombre.msg  %></p>
                    <% } %>

                <div class="nombre-registro">
                    <label class="label-registro" for="apellido">Apellido</label>
                    <input class="input-registro" type="text" name="apellido" id="apellido" value="<%= locals.oldData ? oldData.apellido : null %>">
                </div>

                <% if (locals.errors && errors.apellido) { %>
                    <p class="mensajeError"><%=errors.apellido.msg  %></p>
                    <% } %>

                <div class="email-registro">
                    <label class="label-registro" for="email">E-mail</label>
                    <input class="input-registro" type="text" name="usuario" id="email" value="<%= locals.oldData ? oldData.usuario : null %>">
                </div>

                <% if (locals.errors && errors.usuario) { %>
                    <p class="mensajeError"><%=errors.usuario.msg  %></p>
                <% } %>
                <%# if (userExists.msg !="") {%>
                    <p class="mensajeError"><%#=userExists.msg%></p>    
                <%# } %>
                <div class="foto-registro">
                    <label for="fotoRegistro">Foto de perfil</label>
                    <input type="file" name="fotoRegistro" accept=".jpg, .png, .jpeg, .gif" id="fotoRegistro">
                </div>

                <div class="contraseña-registro">
                    <label class="label-registro" for="Contraseña">Contraseña</label>
                    <input class="input-registro" type="password" name="contrasenia" id="Contraseña">
                </div>

                <% if (locals.errors && errors.contrasenia) { %>
                    <p class="mensajeError"><%=errors.contrasenia.msg  %></p>
                    <% } %>

                <div class="conf-contra-registro">
                    <label class="label-registro" for="confirmarContraseña">Confirmar Contraseña</label>
                    <input class="input-registro" type="password" name="confirmarContrasenia" id="confirmarContraseña">
                </div>

                <div class="registro-noRobot">

                    <div class="registro-robot">
                        <input class="registro-input-checkbox" type="checkbox" name="noSoyUnRobot" id="noSoyUnRobot">
                        <label class="registro-label-noRobot" for="noSoyUnRobot">No soy un robot</label>
                    </div>

                    <div class="registro-captcha">
                        <input href="/home" class="registro-reCaptcha" type="image" src="/img/RecaptchaLogo.png"
                            alt="captcha">
                        <p class="privacidad-condiciones">"Privacidad-Condiciones"</p>
                    </div>

                </div>

                <% if (locals.errors && errors.noSoyUnRobot) { %>
                    <p class="mensajeError"><%=errors.noSoyUnRobot.msg  %></p>
                    <% } %>

                <div class="registro-div-boton">
                    <button  class="registro-boton-crearCuenta" type="submit">CREAR CUENTA</button>
                </div>

                <div class="registro-div-iniciaSesion">
                    <p class="registro-yaTenesUnaCuenta">¿Ya tenés una cuenta?</p>
                    <a class="registro-link-iniciaSesion" href="/user/login">Iniciá Sesión</a>
                </div>
            </form>
        </div>
        
    </main>
   
    <script src="/js/register.js"></script> 
    <!--<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11%22%3E"></script> -->
    <%- include('./partials/footer') %>
</body>

</html>